name: Lint
on:
  pull_request:

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Install Go
        uses: buildjet/setup-go@v5
        with:
          go-version: 1.25.x
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          args: --timeout 5m0s --verbose
